

.form-group{
    
}

.contentatas {
    background-color:#00ccff;
    align-content: center;
    margin-top: 10px;
    height: 100%;
}

.contentbawah{
    background-color:#00ccff;
    align-content: center;
    align-items: center;
    border: 25px solid #4f02d5;
    padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    margin-top:10px
}

.control-label {
    font-weight: bold;
}

.contentatas   {
    border: 25px solid #4f02d5;
    padding: 10px;
    width: 100%;
    border-radius: 5%;
}

.input-group-addon {
    border: 1px solid #fff;
    padding: 1px;
    width:fit-content;
    margin-right: 10px;
}

.btn-primary {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5,
               -6px -6px 12px #ffffff;
  }
  
  .btn-primary:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
               inset -4px -4px 12px #ffffff;
  }
  
  .btn-primary:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .btn-primary:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #009087;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .btn-primary:hover {
    color: #ffffff;
    border: 1px solid #009087;
  }
  
  .btn-primary:hover:before {
    top: -35%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .btn-primary:hover:after {
    top: -45%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }

  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .formContainer {
    background-color: #E4DCCF;
    padding: 20px;
    border-radius: 5px;
  }

  .resultContent {
    align-content: center;
    text-align: center;
    background-color: #E4DCCF;
    padding: 20px;
    border-radius: 5px;
  }

  .penyakitContent{
    align-content: center;
    text-align: center;
    background-color: #E4DCCF;
    padding: 20px;
    border-radius: 5px;
  }

  #resetButton {
    margin-left: 30px;
    align-content: center;
    align-self: center;
  }
  
  #title {
    margin: 10px;
  }

  #cekhasil{
    align-content: center;
    align-self: center;
  }

  #buttonContainer{
    align-content: center;
    align-self: center;
  }

  #btnKonsul{

  }

  #btnRegist{
    margin-left: 30px;
  }

 body {
  background-color:#ffffff
 }
 
 li{
  padding-top:5px
 }
